<div class="row project-images-background">
  <i ng-click="changeMode(project)" class="glyphicon glyphicon-ok save-button"></i>
  <i ng-click="discardChanges(project)" class="glyphicon glyphicon-remove close-button"></i>
</div>
<div class="row">
<div class= "project-image-wrapper col-md-3 col-xs-4">
  <p><input type='text' class="form-control" ng-model="project.name"></p>
  <p><textarea class="form-control" rows="5" ng-model="project.description"></textarea></p>
</div>
<div class="col-md-1"></div>
<div class= "project-image-wrapper col-md-4 col-xs-4">
  <div class="project-image">
    <input type='text' class="form-control" ng-model="project.imageurl"><br/>
    <input type='text' class="form-control" ng-model="project.demourl">
  </div>
</div>

<div class="col-md-1"></div>
<div class= "col-md-3 col-xs-4">

<h4>Browsers</h4>
<span ng-repeat="browser in project.browsers">
  <img ng-click="removeBrowser(project, browser)" ng-src="img/{{browser.replace(' ', '')}}.png">
</span>

<span ng-controller='BrowserList'>
  <i ng-click="showAvailableBrowsers()" class="glyphicon glyphicon-plus"></i>
  <div ng-show='clicked'>
    <span ng-repeat="browser in browsers | filter: browsersMissing(project.browsers)">
      <img ng-click="addBrowser(project, browser)" ng-src="img/{{browser.replace(' ', '')}}.png">
    </span>
  </div>
</span>


<h4>Code</h4>
  <p><input type='text' class='form-control' ng-model='project.source'></p>
</div>
</div>


<div class="row project-description-background">
</div>
<div class="row median">

  <div class="col-md-3 col-xs-4">
    <p><h4 class="builton">Built On</h4><i ng-click="addBuiltOn(project)" class="glyphicon glyphicon-plus"></i></p>
      <span ng-repeat="item in project.builton track by $index">
        <i ng-click="removeBuiltOn(project, item)" class="glyphicon glyphicon-remove builton-remove"></i>
        <input type='text' class="form-control builton-text" ng-model="project.builton[$index]">
        <br/>
      </span>

 </div>
 <div class="col-md-1"></div>
 <div class="col-md-4 col-xs-4">
   <p><h4>Notes</h4></p>
  <p><textarea class="form-control" rows="5" ng-model="project.notes"></textarea></p>
</div>
<div class="col-md-1"></div>
<div class="col-md-3 col-xs-4">
 <p><h4>Mechanism</h4></p>
 <p><textarea class="form-control" rows="5" ng-model="project.mechanism"></textarea></p>
</div>
</div>
