<!DOCTYPE HTML>
<html ng-app="portfolioApp">

  <head>
    <link href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="js/angular.js"></script>
    <script src="js/controllers.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-resource.min.js"></script>
  </head>

  <body ng-controller="ProjectList">

    <div class="jumbotron">
      <div class="content">
        <div class="row">
          <div class="text-center">
            <span class="header-text">sean ryan</span>
            <br/>
            <span class="header-subtext">editible portfolio</span>
            <br />
            <span class="down-arrow">
              <i class="glyphicon glyphicon-menu-down"></i>
            </span>
            <span class="add-new-project">
              <i ng-click="addNewProject()" class="glyphicon glyphicon-plus"></i>
            </span>
          </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div ng-repeat="project in projects">
        <div ng-switch on="project.mode">
          <div ng-switch-when="normal">
            <div ng-model="project" ng-include src="'normal-project'">
            </div>
          </div>
          <div ng-switch-when="edit">
            <div ng-model="project" ng-include src="'edit-project'">
            </div>
          </div>
        </div>


      </div>
    </div>
  </body>
</html>
