<div class="row project-images-background">
  <i ng-click="changeMode(project)" class="glyphicon glyphicon-pencil edit-button"></i>
  <i ng-click="removeProject(project)" class="glyphicon glyphicon-remove close-button"></i>
</div>
<div class="row">
<div class= "project-image-wrapper col-md-3 col-xs-4">
  <p><h3 class="project-name" ng-bind="project.name"></h3></p>
  <p ng-bind="project.description"></p>
</div>
<div class="col-md-1"></div>
<div class= "project-image-wrapper col-md-4 col-xs-4">
  <div class="project-image"><a href="{{project.demourl}}"><img ng-src="{{project.imageurl}}" height="200" /></a></div>
</div>

<div class="col-md-1"></div>
<div class= "col-md-3 col-xs-4">

<h4>Browsers</h4>
  <span ng-repeat="browser in project.browsers">
    <img ng-src="img/{{browser.replace(' ', '')}}.png">
  </span>
<h4>Code</h4>
  <a href="{{project.source}}"><img src="img/github.png" /></a>
</div>
</div>


<div class="row project-description-background">
</div>
<div class="row median">

  <div class="col-md-3 col-xs-4">
   <p><h4>Built On</h4></p>
   <ul>
   <li ng-repeat="item in project.builton" ng-bind="item"></li>
   </ul>
 </div>
 <div class="col-md-1"></div>
 <div class="col-md-4 col-xs-4">
   <p><h4>Notes</h4></p>
  <p ng-bind="project.notes"></p>
</div>
<div class="col-md-1"></div>
<div class="col-md-3 col-xs-4">
 <p><h4>Mechanism</h4></p>
 <p ng-bind="project.mechanism"></p>
</div>
</div>
